<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--<register type="FlickerComponent.FlickerApiResponseHandler, FlickerComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                mapTo="FlickerComponent.FlickerApiResponseHandler, FlickerComponent">
      </register>-->
      <register
        type="ImageViewer.Ui.Utilities.Interfaces.IModelProvider`1[[ImageViewer.ImageGridView.Models.ImageListModel, ImageViewer.ImageGridView, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]], ImageViewer.Ui.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        mapTo="ImageViewer.ImageGridView.ImageModelProvider, ImageViewer.ImageGridView">
      </register>
    
    </container>
  </unity>
</configuration>