<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="BaseUrl" value="http://api.flickr.com/services/rest/?" />
    <add key="FlickerKey" value="ba317ab06ec79489ee49c798adc9997f"/>
  </appSettings>
</configuration>